@model WebAppBV.ViewModels.ImportFileViewModel
@{
    ViewBag.Title = "Exportar Arquivo";
}

@using(Html.BeginForm("ExportFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
   <div class="form-group">
        <div class="col-md-12" >
            <h4>Selecione o arquivo de texto para exportar para excel.</h4>
            <br />
            @Html.EditorFor(model => model.FormFile, new {  htmlAttributes = new { @type = "file", accept="text/plain", placeholder="Escolher arquivo", title="Escolher arquivo" }})
            @Html.ValidationMessageFor(model => model.FormFile, "")
        </div> 
   </div>
   <div class="form-group">
       <div class="col-md-10">
           <button class="btn btn-primary" type="submit">Exportar</button>
       </div>
   </div>
}

@*TODO: Incluir Jquery*@